@import './variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.Loading_text {
  position: absolute;
  z-index: 9999;
  top: 0;
  bottom: 0;
  background-color: white;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.letter {
  color: blue;
  text-shadow: 0px 2px #111;
  font-size: 2rem;
  font-weight: 600;
  height: 100%;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader;
  animation-duration: 2000ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes loader{
  0%{
    transform: skew(10deg, 50deg);
    opacity: 1;
  }
  40%{
    opacity: 1;
    transform: skew(0deg, 0deg);
    padding: 1rem;
  }
  100%{
    opacity: 1;
  }
}
.container {
  max-width: 980px;
  margin: auto;
}
footer{
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-bottom: 50px; //for mobile devices
}
body {
  position: relative;
  overflow-x: hidden;
  background-color: #fefefe;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
mark {
  background-color: rgb(243, 242, 242);
}
nav {
  position: fixed;
  bottom: 0;
  border-top: 2px solid #a8a7a7;
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  padding: 0.5rem;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    li {
      a {
        padding: 2px;
        font-weight: 400;
        text-decoration: none;
        color: $darkerBlue;
      }
      a :last-child {
        border-right: none;
      }
    }
  }
}

header {
  height: calc(100vh - 50px);
  color: #fff;
  background: linear-gradient(to right, $lighterBlue, $darkerBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #intro {
    position: absolute;
    padding: 1.5rem;
    line-height: 2rem;

    h3,
    p {
      text-shadow: 1px 2px #111;
    }

    h3 {
      font-size: 40px;
    }
    p {
      line-height: 2rem;
      font-size: 20px;
    }

    .intro-links {
      display: flex;
      flex-direction: column;
      #messageButton,
      #projectsButton {
        height: fit-content;
        width: fit-content;
        outline: none;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 4px;
        padding: 0.2rem;
        margin-top: 6px;
      }
      #projectsButton {
        background-color: #fff;
      }

      #messageButton {
        border: 2px solid white;
        color: white;
      }
      #messageButton:hover,
      #messageButton:focus {
        background-color: #fff;
        color: $darkerBlue;
      }
      #projectsButton:hover,
      #projectsButton:focus {
        background-color: inherit;
        color: #fff;
        font-weight: 400;
        border: 1px solid #fff;
        margin-top: 4px;
      }
    }
  }
}
main {
  display: flex;
  word-break: keep-all;
  flex-direction: column;
  margin: 0em 1.5em 60px 1.5em;
  section::first-letter {
    font-size: larger;
  }
  section {
    h1 {
      font-size: medium;
      line-height: 24px;
      padding-top: 0.5rem;
      color: rgb(99, 0, 99);
      text-transform: uppercase;
    }
  }

  section::after {
    content: "***";
    display: flex;
    color: $darkerBlue;
    font-weight: 900;
    font-size: larger;
    justify-content: center;
    padding: 0.5rem;
  }

  #skills {
    width: 100%;
    #skills-more{
      text-align: center;
    }
    .left-heading {
      text-align: left;
      display: inline;
      padding-bottom: 0.5rem;
      position: relative;
      z-index: -1;
    }
    .left-heading::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, #f700ff, #00d9ff);
      width: 100%;
      height: 5px;
    }

    .skill-sub-section {
      padding-top: 1rem;
      display: flex;
      justify-content: space-around;
      align-content: stretch;
      flex-wrap: wrap;
      .skill-logo {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0.5rem;
        flex-direction: column;
        img {
          width: 100px;
          height: 100px;
          align-self: center;
        }
        .skill-name {
          text-align: center;
        }
      }
    }
  }
  #projects {
    img {
      width: 100%;
      height: 350px;
      object-fit: contain;
    }
    summary {
      color: blue;
      display: block; //For compatibility
      &:hover,
      &:focus {
        outline: none;
      }
    }

    summary::-webkit-details-marker {
      color: blue;
      display: block; //For compatibility
      &:hover,
      &:focus {
        outline: none;
      }
    }
    details {
      display: block; //For compatibility
    }
  }
  #contactForm {
    padding: 1rem 0;
    position: static;
    line-height: 2rem;

    legend,
    em {
      text-align: center;
    }
    legend {
      width: 100%;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 700;
    }
    em {
      font-size: 0.8rem;
      display: block;
    }
    textarea,
    input {
      min-width: 100%;
      max-width: 100%;
    }
    input[type="text"],
    input[type="email"],
    textarea{
      background-color: rgb(252, 252, 252);
      border: 1px solid #111;
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
      outline: 2px solid #a0a5d1;
      background-color: #fff;
      padding: 2px;
      border: none;
    }
    #submit {
      color: $darkerBlue;
      position: static;
      cursor: pointer;
      width: 100%;
      font-weight: 900;
      font-size: large;
      padding: 0.5rem;
    }
  }
}

// media query
@media (min-width: 400px) {
  section{
    padding-top: 2rem;
  }
  section h1 {
    text-align: center;
  }
  header {
    text-align: center;
    #intro {
      #design-white{
        background-color: #fff;
        color: $darkerBlue;
        text-shadow: none;
        padding: 2px;

      }
      #introMessage{
        margin-top: 8px;
      }
      .intro-links {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        margin-top: 2rem;
        padding: 1rem;
      }
    }
  }
  nav {
    position: fixed;
    box-shadow: 0px 15px 10px -20px #111;
    top: 0;
    z-index: 3;
    ul{
      justify-content: space-evenly;
    }
  }
  footer{
    margin: 0;
  }
}
